* {
    box-sizing: border-box;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #FFFF00;
}

h1 i {

    width: 50px;
    height: 50px;
}

.info {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: #FFFF00;
}

.info p {
    font-size: 20px;
    margin: 20px 40px 0 0;
}

.controls {
    font-size: 20px;
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #FFFF00;
}

.controls p {
    margin-right: 25px;
}

#spacebar {
    font-size: 35px !important;
}

.notification {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 30px;
}